
{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="site-padding site-container overflow-x-hidden">
        <div class="relative max-w-[872px] pt-32 tall:pt-40 pb-40 md:pb-60 overflow-x-hidden md:overflow-visible">
            <h1 class="font-serif4 [word-spacing:-6px] font-bold text-7xl lg:text-10xl">
                {{ page.title }}
            </h1>
            
            <div class="
                    absolute
                    z-[-1]
                    right-0
                    translate-x-[78px]
                    md:translate-x-[131px]
                    top-[98px]
                    md:top-[24px]
                    tall:md:top-[131px]
                    w-52
                    h-52
                    md:w-64
                    md:h-64
                    rotate-[32deg]
                    border-[3px]
                    rounded-3xl
                    border-dashed
                    border-mackerel-200"
            >
            </div>
            <div class="max-w-[636px] pt-5 rich-text">
                {{ page.introduction|richtext }}
            </div>
            {% if page.hero_cta %}
                <div class="pt-10">
                    {% include "components/button.html" with title=page.hero_cta.0.value.get_title url=page.hero_cta.0.value.get_url %}
                </div>
            {% endif %}
        </div>
    </div>

    {% include_block page.body %}

    {% include "components/related-pages.html" %}

{% endblock %}

