{% verbatim %}
{% load wagtailcore_tags %}

<div class="bg-mackerel-200 text-mackerel-400 dark:text-mackerel-400 p-10 md:px-20 flex gap-5 flex-col md:flex-row justify-between md:items-center rounded-[30px]">
    <div class="">
        <h2 class="
            font-serif4 text-3xl md:text-5xl font-semibold mb-2
        ">
            {{ value.title }}
        </h2>
        {% if value.text %}
        <div class="text-lg md:text-xl">
            {{ value.text|richtext }}
        </div>
        {% endif %}
    </div>
    {% with cta_link=value.link.0 %}
        {% include "components/button.html" with title=value.button_text url=cta_link.value.get_url classes='w-full md:w-auto' %}
    {% endwith %}
</div>
{% endverbatim %}
